<div
	id="carouselExampleInterval"
	class="carousel slide"
	data-bs-ride="carousel"
>
	<div class="carousel-indicators">
		<button
			type="button"
			data-bs-target="#carouselExampleCaptions"
			data-bs-slide-to="0"
			class="active"
			aria-current="true"
			aria-label="Slide 1"
		></button>
		<button
			type="button"
			data-bs-target="#carouselExampleCaptions"
			data-bs-slide-to="1"
			aria-label="Slide 2"
		></button>
		<button
			type="button"
			data-bs-target="#carouselExampleCaptions"
			data-bs-slide-to="2"
			aria-label="Slide 3"
		></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="3000">
			<img
				src="../../../assets/slider/Marvels-Spider-Man-2.jpg"
				class="d-block w-100"
				alt="..."
			/>
			<div class="carousel-caption d-none d-md-block">
				<h5>SPIDER MAN 2</h5>
				<p>
					Os Spiders Peter Parker e Miles Morales vão testar a força que têm,
					com e sem a máscara.
				</p>
				<button type="button" class="btn spider">Saiba mais</button>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="3000">
			<img
				src="../../../assets/slider/Warzone-2-Season-4-update-patch-notes.avif"
				class="d-block w-100"
				alt="..."
			/>
			<div class="carousel-caption d-none d-md-block">
				<button type="button" class="btn warzone">Já Disponível</button>
			</div>
		</div>
		<div class="carousel-item" data-bs-interval="3000">
			<img
				src="../../../assets/slider/diablo.jpg"
				class="d-block w-100"
				alt="..."
			/>
			<div class="carousel-caption d-none d-md-block">
				<button type="button" class="btn diablo">Saiba mais</button>
			</div>
		</div>
	</div>
	<button
		class="carousel-control-prev"
		type="button"
		data-bs-target="#carouselExampleInterval"
		data-bs-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button
		class="carousel-control-next"
		type="button"
		data-bs-target="#carouselExampleInterval"
		data-bs-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
